*{
    font: Playfair Display;
    color: azure;
    background-color:black;
    text-align: center;
}
img{
    border: red solid 2px;
}
hr{
    border-color: blue;
}
.project_head{
    color: aqua;
}
h1{
    color: red;
}